.navbar-brand a {
  text-decoration: none;
  color: white;
}
.navbar-brand a:hover {
  color: black;
}

.color-nav {
  background-color: #252525;
}
.navbar-light .navbar-nav .nav-link {
  color: #f5f5f5 !important;
  text-decoration: none;
  margin: 10px;
  font-size: 1.5rem;
}
